.container-login {
  text-align: center;
  height: 35rem;
  width: 21.875rem;
  margin-left: 1.875rem;
}

.logo-instagram {
  padding: 0.625rem 0 0.625rem 0;
}

.instagram {
  background-color: #FFFFFF;
  border: 0.0625rem solid #DBDBDB;
  margin-bottom: 0.625rem;
  padding: 1.25rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 15.625rem;
  height: 1.25rem;
  padding: 0.5rem;
  outline: none;
  border: 0.0625rem solid #DBDBDB;
  background-color: #FAFAFA;
}

input[type="email"] {
  margin-bottom: .3125rem;
}

button {
  color: #FFFFFF;
  background-color: #0095F6;
  font-weight: bold;
  margin: 0.9375rem 0 .9375rem 0;
  width: 16.0625rem;
  height: 1.75rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.ou {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracinho {
  color: #DBDBDB;
}

.palavra-ou {
  margin: 0 1.125rem 0 1.125rem;
  font-size: 0.7813rem;
  font-weight: bold;
  color: #929292;
}

.icone-texto {
  display: flex;
  justify-content: center;
  align-self: stretch;
  text-align: center;
  margin: 1.25rem 0 1.25rem 0;
}

.texto-entrar {
  margin-left: 0.4375rem;
}

.icone-texto a {
  color: #475E85;
  text-align: center;
  font-weight: bold;
  font-size: 0.8125rem;
}

.recuperar-senha {
  color: #00376B;
  font-size: 0.7188rem;
}

.criar-conta {
  padding: 0.625rem;
  background-color: #FFFFFF;
  border: 0.0625rem solid #DBDBDB;
  font-size: 0.875rem;
}

.criar-conta a {
  color: #1EA1F7;
}

.baixar-app p {
  font-size: .875rem;
  margin: 1.25rem;
  color: #262626;
}

.stores {
  display: flex;
  justify-content:center;
}

.apple-store {
  margin-right: .375rem;
}

@media (min-width: 320px ) and (max-width:767px) {
  .container-celular {
    display: none;
  }

  .container-login {
    width: 90vw;
    margin-left: 0;
  }

  .instagram {
    padding: 0.625rem;
  }

  .instagram, .criar-conta {
    border: none;
  }

  .logo-instagram {
    padding-top: 0.625rem ;
  }

  input, button {
    width: 70vw;
  }
}