footer {
  margin: auto;
  justify-content: center;
  max-width: 70vw;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 5px;
  padding: 0px;
}

li {
  margin: 8px;
  font-size: 11.5px;
}

li a {
  color: var(--gray2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista2 {
  margin-top: 0px;
}

.lista2 img {
  margin-left: 5px;
}

@media (min-width: 320px ) and (max-width:767px) {
  body {
    padding: 20px;
  }

  footer {
    max-width: 100vw;
  }

  ul {
    margin-top: 20px;
  }
}