* {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 36px;
  background-color: var(--white1);
  font-family: Arial, Helvetica, sans-serif;
}

body a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --gray1: #DBDBDB;
  --gray2: #A1A1A1;
  --gray3: #929292;
  --white1: #FFFFFF;
  --white2: #FAFAFA;
  --blue1: #0095F6;
  --blue2: #475E85;
  --blue3: #00376B;
  --blue4: #1EA1F7;
}

::placeholder {
  font-size: 11.5px;
  color: var(--gray2);
}